{% extends 'base.html' %}


{% block title %}
    Workouts
{% endblock title %}



{% block content %}
    <div>
        <h1>My Workouts</h1>
        {% if workouts|length == 0 %}
            <p>Currently, you have no workouts.</p>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of Exercises</th>
                        <th>Date</th>
                        <th>Date Updated</th>
                    </tr>
                </thead>
                <tbody>
                    {% for workout in workouts %}
                        <tr>
                            <td><a href="{% url 'show_my_workout' workout.id %}">{{ workout.name }}</a></td>
                            <td>{{ workout.exercises.all|length }}</td>
                            <td>{{ workout.created_on|date:"D, M j, Y" }}</td>
                            <td>{{ workout.updated_on|date:"D, M j, Y" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock content %}
