{% extends 'base.html' %}


{% block title %}
    {{ exercise.name }}
{% endblock title %}


{% block content %}
    <div class="text-center">
        <h1>{{ exercise.name }}</h1>
        <h4>Goal: {{ exercise.goal }}</h4>
        <p>
            <a class="btn btn-primary" href="{% url 'edit_exercise' exercise.id %}">Edit Exercise</a>
            <a class="btn btn-primary" href="{% url 'delete_exercise' exercise.id %}">Delete Exercise</a>
        </p>
        <div class="container">
            <table class="table table-secondary table-striped table-hover table-bordered border-dark">
                <thead class="table-dark">
                    <tr class="table-active">
                        <th scope="col">Weight</th>
                        <th scope="col">Sets</th>
                        <th scope="col">Repetitions</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr>
                        <td>{{ exercise.weight }}</td>
                        <td>{{ exercise.sets }}</td>
                        <td>{{ exercise.reps }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
