{% extends 'base.html' %}


{% block title %}
    {{ exercise.name }}
{% endblock title %}


{% block content %}
    <div>
        <h1>{{ exercise.name }}</h1>
        <p>
            <a href="{% url 'edit_exercise' exercise.id %}">Edit Exercise</a>
        </p>
        <p>
            <a href="{% url 'delete_exercise' exercise.id %}">Delete Exercise</a>
        </p>
        <table>
            <thead>
                <tr>
                    <th>Goal</th>
                    <th>Weight</th>
                    <th>Sets</th>
                    <th>Repetitions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ exercise.goal }}</td>
                    <td>{{ exercise.weight }}</td>
                    <td>{{ exercise.sets }}</td>
                    <td>{{ exercise.reps }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock content %}
