{% extends 'base.html' %}


{% block title %}
    Exercises
{% endblock title %}



{% block content %}
    <div class="text-center">
        <h1>My Exercises for {{ workout.name }}</h1>
        {% if exercises|length == 0 %}
        <p>There are no exercises at the moment.</p>
        {% else %}
        <div class="container">
            <table class="table table-secondary table-striped table-hover table-bordered border-dark">
                <thead class="table-dark">
                    <tr class="table-active">
                        <th scope="col">Name</th>
                        <th scope="col">Goal</th>
                        <th scope="col">Sets</th>
                        <th scope="col">Repetitions</th>
                        <th scope="col">Weight</th>
                        <th scope="col">Met Goal?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for exercise in exercises %}
                    <tr>
                        <td>{{ exercise.name }}</td>
                        <td>{{ exercise.goal }}</td>
                        <td>{{ exercise.sets }}</td>
                        <td>{{ exercise.reps }}</td>
                        <td>{{ exercise.weight }}</td>
                        <td>{{ exercise.met_goal|yesno:"Yes!, No :(" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
{% endblock content %}
